.wrapper
  -# .flash-message  
  -#   グループを作成しました

  = render "shared/side_bar"

  .chat-main 
    .main-header
      .main-header__leftbox
        .main-header__leftbox__curent-group
          sample
        .main-header__leftbox__curent-member
          member:
      .main-header__edit-btn
        =link_to "Edit","",  {class: "main-header__edit-btn__btn--edit"}
        
    .messages
      aaaaaaa
    .form
      %form{class: "form-main"}
        .input-box
          %input{ placeholder: "type a message", type: "text", class: "input-box_text"}
            %label.input-box__image{for: "uplord-icon"}
              = fa_icon 'image'
              %input{type:"file",value:"&#xf03e",id: "uplord-icon",class:"image-form"}
        %input{ type:"submit", value:"SEND", class:"submit-btn"}

